/* STYLES PRINCIPAUX */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    min-width: 992px;
    max-width: 1400px;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	color:black;	 
	background-color: white;
}

h1 {font-weight: bold;
    font-size: 19px;
    margin:0px;
}

h2 {
    font-weight: bold;
    font-size: 16px;
    margin:0px;
}

h3 {
    font-weight: bold;
	font-size: 14px;
    margin: 5px 0 ;
}

p {
	font-size: 12px;
    margin: 0px;
}

a {
	text-decoration: none ;
	color: black;
    cursor: pointer;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 25px;   
} 

.logo {
    padding: 42px 5px 0 15px ;}

.logo img {
    max-width: 45%;
    height: auto;
    object-position: 50% 50%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

ul {
	list-style: none;
    padding: 32px 0;}

nav>ul>li {
	font-size: 14px;
}

nav a {
padding: 45px 15px 0 15px;}

nav a:hover {
	color:#0065FC;
    border-top: 2px solid #0065FC;
}
	

/* CONTENEUR-INTRODUCTION */

.conteneur-introduction {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 0 25px 25px 25px;
    gap: 25px
}

.sous-titre {
        font-size :14px;
        padding: 10px 0 0 0;
    }

/* Barre de recherche */

.barre-recherche {
    margin left: 3px;
    width: 355px;
    position: relative;
    display: inline-flex;
    align-items: baseline;
    height:50px;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
}

.localisation {
    width: 50px;
    padding: 15px 15px 15px 20px;
    margin: auto;
    position: absolute;
    left:-3px;
    right: 305px;
    top:0;
    bottom:0;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.localisation>i {
    width:70%}

.selectionMarseille {
    width: 140px;
    position: absolute;
    left: 53px;
}

.selectionMarseille input {
    width: 195px;
    padding: 15px 0px 15px 5px;
    border: none;
    font-size: 15px;
    color:black;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
  }

.bouton {
    width: 110px;
    position: absolute;
    left: 245px;
    right: 0;
    top:0;
    bottom:0;
    border: none;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}

.bouton-texte {
    background-color:#0065FC;
	color:white;
    font-size: 15px;
    cursor: pointer;
} 

.bouton-texte:hover {
	color : black;
}

.Bouton-icone {
    display: none;
    cursor: pointer;
    background-color:#0065FC;
    color:white; 
    border-radius: 0 10px 10px 0;
}


/* FILTRES */

.filtres {
    display: flex;
    align-items: baseline;
    gap: 25px;
}

.les-box {
    display: inline-flex;
    gap: 25px;}

.filtre-box {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 50px;
}
.filtre-icone {
    display: flex;
    position: absolute;
    left:-2px;
    top: -2px;
    bottom: 0;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: #DEEBFF;
    color:#0065FC;
}
.filtre-icone>i{
    margin: auto;
}

.filtre-texte {
    height: 50px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 62px ;
}

.filtre-box a:hover {
    color: #0065FC; 
}

/* Point information */

.circle-info {
    font-size: 14px;
    padding-bottom: 10px;
}
.circle-info>i {
    background-color:white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding: 5px;
    margin-right: 5px;
    color: #0065FC;
}


/* CONTENEUR HEBERGEMENTS et CONTENEUR POPULAIRES */

#conteneur-hebergements-populaires {  
    height: 39%;
    margin: 0 25px ;
    display: flex;
    justify-content: space-between;
    row-gap: 25px;
}

.carte-nom-marseille span, .carte-nom-populaires span {
    font-weight: bold;
}


/* Sous conteneur Hébergements */

.bloc-hebergements {
    width: 66%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 25px;
    padding: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.bloc-hebergements>h1 {
    padding-bottom: 25px;
}

/*.bloc-hebergements>.articles-hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 25px;
}*/

.ligne-cartes {
    height: 175px;
    display: flex;
    justify-content: space-between;
    row-gap: 25px;
    margin-bottom: 25px;}

.carte-hebergements-marseille {
    position: relative;
    width: 30.5%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    border-radius: 15px;   
}

.carte-hebergements-marseille img {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.carte-nom-marseille {
    padding : 3px 0 3px 5px;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 100px;
    border-radius: 0 0 15px 15px;
    background-color: white;
}

.carte-star-rating {
    padding-top: 3px;
}

.carte-star-rating>i {
    color: #0065FC;
    width: 5px;
    margin-right: 4px; 
}

.carte-star-rating span {
    color:#F2F2F2;
    width: 5px;
    margin-right: 4px;
}

.bloc-hebergements h2 {
    padding-top: 10px;
}

/* Sous conteneur populaires*/

.bloc-populaires {
    width: 31%;
    height: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.titre-populaires {
    justify-content:space-between;
    position: relative;
}
.titre-populaires>i {
    position: absolute;
    top: 0;
    right: 0;
}

.carte-hebergements-populaires {
    position: relative;
    height: 133px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: 3px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.carte-hebergements-populaires img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 125px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.carte-texte-populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top:0;
    bottom: 0;
    left: 131px;
    padding: 5px 0 5px 5px;
}  

.carte-texte-populaires:nth-last-child(1){
    padding-right: 5px;
}
.carte-texte-populaires>.carte-star-rating{
    position: absolute;
    bottom:3px;   
}


/* CONTENEUR ACTIVITES */

#conteneur-activites {
    height: 32%;
    margin: 25px 25px;
}

#conteneur-activites>h1 {
    padding: 25px 0;
}

.articles-activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12.5px;
}

.colonne-une {
    width:23%;
}  

.colonne-deux {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 20px;
}

.carte-grande {
    display: flex;
    flex-direction: column;
    position:relative;
    height:400px;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}
.carte-moyenne {
    display: flex;
    position:relative;
    height: 215px;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

.carte-petite {
    display: flex;
    position:relative;
    height: 160px;
    margin: 0;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}
.articles-activites img {
    margin: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
    
.carte-grande>img {
    height: 350px;
    width:120%;
    object-position: 55% 70%;
    z-index: 0;
}

.carte-moyenne>img {
    height: 165px;
    width: 100%;
    object-position: top
}

.carte-moyenne>img:nth-child(1){
    object-position: 50% 40%;
}
.carte-moyenne>img:nth-child(2){
object-position: top;}

.carte-petite>img {
    height: 110px;
    width: 100%;
    object-position: top;
    }


.articles-activites h3 {
    padding: 5px 0 10px 15px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: 0;
    z-index: 1;
}


/* footer */

.info-site {
    display:flex;
    background-color: #F2F2F2;
    padding: 25px 25px 0 25px;
}

.titrefooter>h2 {
    font-size: 15px;
}
.titrefooter:nth-child(2) {
    padding-right: 250px;
    padding-left: 180px;
}
.titrefooter>ul {
    font-size: 14px;
    padding: 0;
}


/* media queries */

/*---VERSION TABLETTE---*/

@media screen and (min-width:768px) and (max-width:991px) {
body {
    min-width: 768px;
    max-width: 991px;
}

header {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    margin: auto;
}

.logo {
    display: flex;
    padding-left: 85px ;}

.logo img {
        max-width: 20%;
        margin: auto;}

nav>ul {
    display: flex;
    justify-content: center;
    gap: 25px;}

ul {
    padding: 0;}

nav a {
    padding: 25px 25px;}
        
nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
        }

nav>ul>li {
    font-size: 16px;
        }

.conteneur-introduction {
    margin: 20px;
    gap: 20px;
            } 

h1{
    font-size: 21px;}

.sous-titre {
    font-size :16px;}

.barre-recherche{
        width: 330px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
.localisation{
    right: 285px;
    }
    
.selectionMarseille {
        width: 100px;
    }
    
.selectionMarseille input {
    width: 185px;
    font-size: 15px;
      }
    
.bouton {
        width: 50px;
        left: 280px;}

.Bouton-icone {
    display: flex;
    justify-content: center;}   

.Bouton-icone>i {
    width:130%;
}

.bouton-texte {
    display: none;
        } 

    
.filtres {
    flex-direction: column;
    gap: 12.5px;
} 

.les-box {
    gap: 12.5px;
}

#conteneur-hebergements-populaires {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    column-gap: 25px;
}

.bloc-hebergements {
    width: 100%;
}

.bloc-populaires{
    margin: auto;
    width: 70%;
    justify-content: center;
}
}

/* VERSION MOBILE */

@media screen and (max-width:767px) {

body {
    max-width: 767px;
    min-width: 320px;
}

header {
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 25px 25px 15px 70px;}

.logo img {
        max-width: 35%;
        margin: auto;}

nav>ul {
    display: flex;
    gap:0
}

ul {
    padding: 0;}

nav>ul>li {
	font-size: 16px;
}

nav a:nth-child(1) {
    width: 50%;
    padding : 20px 50px 20px 50px;}

nav a:nth-child(2){
    width: 50%;
    padding : 20px 50px 20px 50px;}
        
nav a:hover {
    border-top: none;
    border-bottom: 4px solid #0065FC;
        }

.conteneur-introduction {
 margin: 20px;
    gap: 20px;
    }

h1{
    font-size: 21px;
    white-space: wrap;
}

.sous-titre {
    font-size :16px;}

.barre-recherche{
    margin: auto;
    width: 330px;
    display: flex;
    justify-content: center;  
}
 
.localisation{
    right: 285px;
}

.selectionMarseille {
    width: 100px;
    font-size: 16px;
}

.selectionMarseille input {
    width: 185px;
    font-size: 16px;
  }

.bouton {
    width: 50px;
    left: 280px;}

.bouton-texte {
    display: none;
        } 

.Bouton-icone {
    display: flex;
    justify-content: center;
}   

.Bouton-icone i {
    width:130%;
}

h2 {font-size: 17px;}

.filtres {
    flex-direction: column;
    gap: 12.5px;
} 
.les-box {
    flex-wrap: wrap;
    gap: 12.5px;
}
.filtre-texte {
    font-size: 16px;
}

#conteneur-hebergements-populaires {
    width : 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    column-gap: 25px;
}

}