/* STYLES PRINCIPAUX */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    min-width: 1051px;
    max-width: 1400px;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	color:black;	 
	background-color: white;
}

h1, h2 {font-weight: bold;
    font-size: 19px;
    margin:0px;
}

h3 {
    font-weight: bold;
    font-size: 16px;
    margin:0px;
}

h4 {
    font-weight: bold;
	font-size: 14px;
    margin: 5px 0 ;
}

p {
	font-size: 13px;
    margin: 0px;
}

a {
	text-decoration: none ;
	color: black;
    cursor: pointer;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 25px;   
} 

.logo {
    padding: 42px 5px 0 15px ;
}

.logo img {
    max-width: 45%;
    height: auto;
    object-position: 50% 50%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

ul {
	list-style: none;
    padding: 32px 0;}

nav>ul>li {
	font-size: 14px;
}

nav a {
padding: 45px 15px 0 15px;
}

nav a:hover {
	color:#0065FC;
    border-top: 2px solid #0065FC;
}
	

/* CONTENEUR-INTRODUCTION */

.conteneur-introduction {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    margin: 0 25px 25px 25px;
    gap: 25px
}

.sous-titre {
        font-size :14px;
        padding: 10px 0 0 0;
}


/* Barre de recherche */

.barre-recherche {
    margin-left: 3px;
    width: 355px;
    position: relative;
    display: inline-flex;
    align-items: baseline;
    height:50px;
    border: 2px solid #F2F2F2;
    border-radius: 10px;
}

.localisation {
    width: 50px;
    padding: 15px 15px 15px 20px;
    position: absolute;
    left:-3px;
    right: 305px;
    top:0;
    bottom:0;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}

.selectionMarseille {
    width: 140px;
    position: absolute;
    left: 53px;
}

.selectionMarseille input {
    width: 195px;
    padding: 15px 0px 15px 5px;
    border: none;
    font-size: 15px;
    color:black;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
  }

.bouton {
    width: 110px;
    position: absolute;
    left: 245px;
    right: 0;
    top:0;
    bottom:0;
    border: none;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}

.bouton-texte {
    background-color:#0065FC;
	color:white;
    font-size: 15px;
    cursor: pointer;
} 

.bouton-texte:hover {
	color : black;
}

.Bouton-icone {
    display: none;
    cursor: pointer;
    background-color:#0065FC;
    color:white; 
    border-radius: 0 10px 10px 0;
}


/* FILTRES */

.filtres {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 71%;  
}

.les-box {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.filtre-box {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 45px;
}

.filtre-icone {
    display: flex;
    position: absolute;
    left:-2px;
    top: -2px;
    bottom: 0;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: #DEEBFF;
    color:#0065FC;
}

.filtre-icone>i {
    margin: auto;
}

.filtre-texte {
    height: 45px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 0px 53px;
}

.filtre-box a:hover {
    color: #0065FC; 
}


/* Point information */

.circle-info {
    display: flex;
    flex-direction: row; 
    position: relative; 
}

.circle-info>i {
    background-color:white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding: 5px;
    margin-right: 5px;
    color: #0065FC;
    font-size: 10px;
}

.circle-info>p {
    font-size: 14px;
}

/* CONTENEUR HEBERGEMENTS et CONTENEUR POPULAIRES */

#conteneur-hebergements-populaires {  
    height: 39%;
    margin: 10px 25px 0 25px;
    display: flex;
    justify-content: space-between;
    row-gap: 25px;
}

.carte-nom-marseille span, .carte-nom-populaires span {
    font-weight: bold;
}


/* Sous conteneur Hébergements */

.bloc-hebergements {
    width: 66%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 25px;
    padding: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.bloc-hebergements>h2 {
    padding-bottom: 25px;
}

.ligne-cartes {
    height: 180px;
    display: flex;
    justify-content: space-between;
    row-gap: 25px;
    margin-bottom: 25px;
}

.carte-hebergements-marseille {
    position: relative;
    width: 30.5%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    border-radius: 15px;   
}

.carte-hebergements-marseille img {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 102px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.carte-nom-marseille {
    padding-right : 10px;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 102px;
    border-radius: 0 0 15px 15px;
    background-color: white;
}

.carte-star-rating {
    padding-top: 4px;
}

.carte-star-rating>i {
    color: #0065FC;
    width: 5px;
    margin-right: 4px; 
}

.carte-star-rating span {
    color:#F2F2F2;
    width: 5px;
    margin-right: 4px;
}

.bloc-hebergements h3 {
    padding-top: 10px;
}

/* Sous conteneur populaires*/

.bloc-populaires {
    width: 31%;
    height: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.titre-populaires {
    justify-content:space-between;
    position: relative;
}
.titre-populaires>i {
    position: absolute;
    top: 0;
    right: 0;
}

.carte-hebergements-populaires {
    position: relative;
    height: 133px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: 3px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.carte-hebergements-populaires img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 114px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

.carte-texte-populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top:0;
    bottom: 0;
    left: 114px;
    padding: 10px 0 10px 10px;
}  

.carte-texte-populaires>.carte-star-rating {
    position: absolute;
    bottom: 4px;   
}


/* CONTENEUR ACTIVITES */

#conteneur-activites {
    height: 32%;
    margin: 25px 25px;
}

#conteneur-activites>h2 {
    padding: 25px 0;
}

.articles-activites {
    display: flex;
    justify-content: space-between;
}

.colonne-une {
    width:23%;
}  

.colonne-deux {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 25px;
}

.carte-grande-1, .carte-grande-4, .carte-moyenne-2, .carte-moyenne-6, .carte-petite-3, .carte-petite-5 {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    box-shadow: 4px 4px 4px #F2F2F2;
}

.carte-grande-1, .carte-grande-4 {
    height:400px;   
}

.carte-moyenne-2, .carte-moyenne-6 {
    height: 215px;
}

.carte-petite-3, .carte-petite-5 {
    height: 160px;
}

.articles-activites img {
    margin: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
    
.carte-grande-1>img, .carte-grande-4>img {
    height: 400px;
    width:100%;
    bottom: 0;
}

.carte-moyenne-2>img, .carte-moyenne-6>img {
    height: 165px;
    width: 100%;
}

.carte-petite-3>img, .carte-petite-5>img {
    height: 110px;
    width: 100%;
}

.carte-grande-1>img {
    object-position: 45% 50%; 
}

.carte-moyenne-2>img {
    object-position: 50% 47%;
}

.carte-petite-3>img {
    object-position: 40% 15%;
}

.carte-grande-4>img {
    object-position: 45% 50%;
}

.carte-petite-5>img {
    object-position: 50% 20%;
}

.carte-moyenne-6>img {
    object-position: 40% 25%;
}

.articles-activites h4 {
    padding: 5px 0 10px 15px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: 0;
    z-index: 1;
}


/* footer */

.info-site {
    width: 100%;
    display:flex;
    background-color: #F2F2F2;
    padding: 25px 25px 0 25px;
}

.titrefooter>h3 {
    font-size: 14px;
}

.titrefooter>ul {
    font-size: 14px;
    padding: 0;
}
.titrefooter:nth-child(2) {
    padding-left: 16%;
}
 .titrefooter:nth-child(3) {
    padding-left : 21%;
 }
  


/* media queries */

/*VERSION MAQUETTE 992px*/
@media screen and (min-width: 992px) and (max-width:1100px) {

body {
    min-width: 992px;
    max-width: 1100px;
}
    
h1, h2 {
    font-size: 16px;
}
    
h3, .bouton-texte {
    font-size: 13px;
}
    
h4 {
    font-size: 11px;
}

p { 
    font-size: 10px;
}

nav>ul {
    gap: 15px;
}

nav>ul>li, .sous-titre {
    font-size: 12px;    
}

.barre-recherche {
    width: 300px;
    height:45px;
}

.localisation {
    width: 42px;
    padding: 10px 10px 10px 15px;
    left:-3px;
    right: 258px;
}

.localisation>i {
    font-size: 14px;
}

.selectionMarseille {
    width: 100px;
    left: 42px;
}
    
.selectionMarseille input {
    width: 150px;
    padding: 15px 0px 15px 5px;
    font-size: 13px;
}
    
.bouton {
    width: 90px;
    position: absolute;
    left: 220px;
}

.filtres {
    gap: 20px;
}

.les-box {
    gap: 15px;
}

.filtre-box {
    height: 40px;
}

.filtre-texte {
    height: 40px;
    font-size: 13px;
    padding: 10px 10px 10px 45px;
}

.filtre-icone {
    height: 40px;
    width: 40px;
}

.circle-info>p {
    font-size: 12px; 
}

.ligne-cartes {
    height: 150px;
}

.carte-hebergements-marseille img {
    height: 80px;
}

.carte-nom-marseille {
    top: 80px;
    padding: 5px 10px;
}

.bloc-hebergements h2 {
    padding-top: 0px;
}

.carte-hebergements-populaires {
    height: 105px;
}

.carte-hebergements-populaires img {
    width: 96px;
}

.carte-texte-populaires {
    left: 96px;
}

.carte-grande-1, .carte-grande-4 {
    height:277px;   
}

.carte-moyenne-2, .carte-moyenne-6 {
    height: 137px;
}

.carte-petite-3, .carte-petite-5 {
    height: 117px;
}

.carte-grande-1>img, .carte-grande-4>img {
    height: 277px;
}

.carte-moyenne-2>img, .carte-moyenne-6>img {
    height: 102px;
}

.carte-petite-3>img, .carte-petite-5>img {
    height: 82px;
}

.articles-activites h4 {
    padding: 10px;
}

.info-site {
    display:flex;
}

.titrefooter>h3, .titrefooter>ul {
    font-size: 13px;
}

.titrefooter:nth-child(2) {
    padding-left: 14%;
}

.titrefooter:nth-child(3) {
    padding-left : 20%;
 }
  
}

/*---VERSION TABLETTE---*/

@media screen and (min-width:768px) and (max-width:991px) {

body {
    min-width: 768px;
    max-width: 991px;
}

header {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
    margin: auto;
}

.logo {
    display: flex;
    padding-left: 85px;
}

.logo img {
        max-width: 20%;
        margin: auto;
}

nav>ul {
    justify-content: center;
}

ul {
    padding: 0;
}

nav a {
    padding: 25px 25px;
}

nav>ul>li {
    font-size: 16px;
}
        
nav a:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
}


.conteneur-introduction {
    margin: 20px;
    gap: 20px;
} 

h1, h2 {   
    font-size: 22px;
}

.conteneur-introduction h1 {
    width: 75%;
    white-space: normal;
    margin-right: 25px;
}

.sous-titre {
    font-size :16px;
}

.barre-recherche {
    width: 330px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
} 

.localisation {
    right: 285px;
}
    
.selectionMarseille {
        width: 100px;
}
    
.selectionMarseille input {
    width: 185px;
    font-size: 15px;
}
    
.bouton {
        width: 50px;
        left: 280px;
}

.Bouton-icone {
    display: flex;
    justify-content: center;
}   

.Bouton-icone>i {
    font-size: 16px;
}

.bouton-texte {
    display: none;
} 

.filtres {
    flex-direction: column;
    gap: 12.5px;
    width: 100%;
} 

.les-box {
    gap: 12.5px;
    width: 100%;
}

.filtre-texte {
    font-size: 14px;
    padding: 10px 10px 10px 55px;
}

#conteneur-hebergements-populaires {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    column-gap: 25px;
}

.bloc-hebergements {
    margin: auto;
    width: 100%;
    justify-content: center;
    height: auto;
}

.bloc-populaires{
    margin: auto;
    width: 70%;
    justify-content: center;
}

#conteneur-activites {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center; 
    padding: 25px;
}

.articles-activites {     
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: space-between;
}

.colonne-une, .colonne-deux {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 

.carte-petite-3>img {
    object-position: 40% 35%;
}

.carte-petite-5>img {
    object-position: 50% 15%;
}

.info-site {
   justify-content: space-between;
    width: 100%;
}
.titrefooter:nth-child(2), .titrefooter:nth-child(3) {
   padding-left: 0;
}

.titrefooter>h3, .titrefooter>ul {
    font-size: 13px;
}

}

/* VERSION MOBILE */

@media screen and (max-width:767px) {

body {
    max-width: 767px;
    min-width: 320px;
}

h1, h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px
}

p {
    font-size: 14px;
}

header {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    position: relative;
}

.logo {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 15px 15px 15px 50px;}

.logo img {
        max-width: 45%;
        margin: auto;}

nav>ul {
    gap:0;
}

nav>ul>li {
	font-size: 16px;
    width: 50%;
    }

nav>ul>li:nth-child(1) a {
    width: 50%;
    padding: 20px 50px 20px 50px;
}
    
nav>ul>li:nth-child(2) a {
    width: 50%;
    padding: 20px 90px 20px 50px;
}

nav a {
    justify-content: center;
}

nav a:hover {
    border-top: none;
    border-bottom: 4px solid #0065FC;
}

.conteneur-introduction {
    margin: 20px;
    gap: 25px;
}

.titre>h1 {
    padding-right: 30px;
}
.sous-titre {
    font-size: 16px;
}

.barre-recherche {
    margin: auto;
    width: 340px;
    display: flex;
    justify-content: center;  
}
 
.localisation{
    right: 295px;
    font-size: 14px;
}

.selectionMarseille {
    width: 110px;
}

.selectionMarseille input {
    width: 195px;
    font-size: 18px;
  }

.bouton {
    width: 50px;
    left: 290px;
    border-radius: 15px;
}

.bouton-texte {
    display: none;
} 

.Bouton-icone {
    display: flex;
    justify-content: center;
    font-size: 19px;
}   

.filtres {
    flex-direction: column;
    gap: 12.5px;
    width: 100%;
} 

.les-box {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 12.5px;
    width: 100%
}

.filtre-icone>i {
    font-size: 16px;
}

.filtre-texte {
    font-size: 16px;
}

.circle-info{
    display: flex; 
    margin-bottom: 20px;
}

.circle-info>i {
    font-weight: bold;
    font-size: 13px;
    padding: 7px;
    position: absolute;
    left: 0;
}

.circle-info>p {
    display: inline-block;
    position: relative;
    font-size: 16px;
    padding: 0 25px 0 35px;
}

#conteneur-hebergements-populaires {
    width : 100%;
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    column-gap: 12.5px;
    margin:0;
}

.bloc-hebergements {
    width: 100%;
    justify-content: center;
    background-color: white;
    padding: 50px 12px 50px 12px;
}

.articles-herbergements {
    display: flex;
    flex-direction: column;
    column-gap: 12.5px;
}

.ligne-cartes {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 12.5px;
}

.carte-hebergements-marseille {
    height: 199px;
    width: 100%;
    box-shadow: 5px 5px 5px #F2F2F2;
}

.carte-hebergements-marseille img {
        height: 129px;
}

.carte-nom-marseille {
    left:0;
    right: 0;
    top: 129px;
    padding-right: 10px;
}  
    
.bloc-populaires{
    width: 100%;
    justify-content: center;
    padding: 25px 12.5px 25px 12.5px;
    border-radius: 0
}

.carte-hebergements-populaires {
    height: 144px;
}

.carte-hebergements-populaires img {
        width: 159px;
        height: 100%;
}

.carte-texte-populaires {
    left:159px;
}

#conteneur-activites {
    height: auto;
    margin: 0 12.5px 25px 12.5px;
}

.articles-activites {
    display: flex;
    flex-direction: column;        
    flex-wrap: wrap;
}

.colonne-une, .colonne-deux {
    width: 100%; 
}

.carte-grande-1, .carte-grande-4, .carte-moyenne-2, .carte-moyenne-6, .carte-petite-3, .carte-petite-5 {
    height: 180px;
    margin-bottom: 25px;
}

.carte-grande-1>img, .carte-grande-4>img, .carte-moyenne-2>img, .carte-moyenne-6>img, .carte-petite-3>img, .carte-petite-5>img {
    height: 140px;
}

.carte-grande-1>img {
    object-position: 45% 30%;
    bottom: 40px;
    top:0;
}

.carte-petite-3>img {
    object-position: 40% 25%;
}

.carte-grande-4>img {
    object-position: 45% 35%;
    bottom: 40px;
    top:0;
}

.articles-activites h4 {
    padding: 10px 0 10px 15px;
}

.info-site {
    width: 100%;
    flex-direction: column;
    padding: 25px 12.5px;
    column-gap: 25px;
}

.titrefooter:nth-child(2), .titrefooter:nth-child(3) {
    padding-left: 0;
}

.titrefooter>ul {
    font-size: 16px;
}

.titrefooter li{
    padding-bottom: 15px;
}

}