/* STYLES PRINCIPAUX */
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    min-width: 992px;
    max-width: 1400px;
	font-family: "Raleway", sans-serif;
	font-style: normal;
	color:black;	 
	background-color: white;
}

h1 {font-weight: bold;
    font-size: 16px;
    margin:0px;
}

h2 {
    font-weight: bold;
    font-size: 14px;
    margin:0px;
}

h3 {
    font-weight: bold;
	font-size: 13px;
    margin: 5px 0 ;
}

p {
	font-size: 10px;
    margin: 0px;
}


/* Header */

header {
    height:5.5%;
    display: flex;
    justify-content: space-between;
    margin: 0 25px;   
} 

.logo {
    padding: 23px 5px 0 5px ;}

.logo img {
    max-width: 45%;
    height: auto;
    object-position: 50% 50%;
}

nav>ul {
    display: flex;
    justify-content: space-between;
}

ul {
	list-style: none;
    padding: 10px 10px;}

nav>ul>li {
	font-size: 12px;
}

a {
	text-decoration: none ;
	color: black;
    cursor: pointer;
}

nav a {
padding: 22px 10px 0 10px;}

nav a:hover {
	color:#0065FC;
    border-top: 4px solid #0065FC;
}
	

/* CONTENEUR-INTRODUCTION */

.conteneur-introduction {
    margin: 25px;
    height: 17%;
}

.sous-titre {
        font-size :12px;
        padding: 10px 0 0 0;
    }

/* Barre de recherche */

.barre-recherche {
    margin : 25px 0px 25px 3px;
    width: 30%;
    position: relative;
    display: inline-flex;
    align-items: baseline;
    height:44px;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}

.localisation {
    width: 44px;
    padding: 10px 15px 25px 15px;
    position: absolute;
    left:-3px;
    right: 400px;
    top:0;
    bottom:0;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.selectionMarseille {
    width: 100px;
    position: absolute;
    left: 47px;

}

.selectionMarseille input {
    width: 170px;
    padding:10px 0px 10px 5px;
    border: none;
    font-size: 13px;
    color:black;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
  }

.bouton {
    width: 90px;
    position: absolute;
    left: 210px;
    right: 0;
    top:0;
    bottom:0;
    border: none;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
}

.bouton-texte {
    background-color:#0065FC;
	color:white;
    font-size: 13px;
    
    cursor: pointer;
} 

.bouton-texte:hover {
	color : black;
}

.Bouton-icone {
    display: none;
}


/* FILTRES */

.filtres {
    display: flex;
    margin-bottom: 25px;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
}

.filtre-box {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    height: 44px;
}
.filtre-icone {
    display: flex;
    position: absolute;
    left:-2px;
    top: -2px;
    bottom: 0;
    height: 44px;
    width: 44px;
    border-radius: 50px;
    background-color: #DEEBFF;
    color:#0065FC;
}
.filtre-icone>i{
    margin: auto;
}

.filtre-texte {
    height: 44px;
    font-weight: bold;
    font-size: 13px;
    padding: 10px 10px 10px 52px ;
}

.filtre-box a:hover {
    color: #0065FC; 
}

/* Point information */

.circle-info {
    font-size: 12px;
}
.circle-info>i {
    background-color:white;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    padding: 5px;
    margin-right: 5px;
    color: #0065FC;
}


/* CONTENEUR HEBERGEMENTS et CONTENEUR POPULAIRES */

#conteneur-hebergements-populaires {  
    height: 39%;
    margin: 0 25px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carte-nom-marseille span, .carte-nom-populaires span {
    font-weight: bold;
}


/* Sous conteneur Hébergements */

.bloc-hebergements {
    width: 66%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 12.5px;
    background-color: #F2F2F2;
    border-radius: 15px;
}
.bloc-hebergements>h1 {
    padding-bottom: 12.5px;
}
.bloc-hebergements>.articles-hebergements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 20px;
}

.ligne-cartes {
    height: 224px;
    display: flex;
    justify-content: space-between;
    row-gap: 20px;
    padding-bottom: 12.5px;
}

.carte-hebergements-marseille {
    position: relative;
    width: 30.5%;
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    overflow: hidden; 
    border-radius: 15px;   
}

.carte-hebergements-marseille img {
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 110px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.carte-nom-marseille {
    padding : 10px;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 111px;
    border-radius: 0 0 15px 15px;
    background-color: white;
}

.carte-star-rating {
        margin-top: 5px;
}

.carte-star-rating>i {
    color: #0065FC;
    width: 12px;
    margin-right: 2px; 
}

.carte-star-rating span {
    color:#F2F2F2;
    width: 12px;
    margin-right: 2px;
}

/*.bloc-hebergements>h2 {
    padding-top: 25px;
}*/

/* Sous conteneur populaires*/

.bloc-populaires {
    width: 31%;
    height: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 25px;
    background-color: #F2F2F2;
    border-radius: 15px;
}

.titre-populaires {
    justify-content:space-between;
    position: relative;
}
.titre-populaires>i {
    position: absolute;
    top: 0;
    right: 5px;
}

.carte-hebergements-populaires {
    position: relative;
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border: 3px solid white;
    border-radius: 15px;
    overflow: hidden;
}

.carte-hebergements-populaires img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}
.carte-texte-populaires {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top:0;
    bottom: 0;
    left: 131px;
    padding: 10px;
}  

.carte-texte-populaires>.carte-star-rating{
    position: absolute;
    bottom:10px;   
}


/* CONTENEUR ACTIVITES */

#conteneur-activites {
    height: 32%;
    margin: 25px 25px;
}

#conteneur-activites>h1 {
    padding: 25px 0;
}

.articles-activites {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 12.5px;
}

.colonne-une {
    width:23%;
}  

.colonne-deux {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 20px;
}

.carte-grande {
    display: flex;
    flex-direction: column;
    position:relative;
    height:350px;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}
.carte-moyenne {
    display: flex;
    position:relative;
    height: 175px;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}

.carte-petite {
    display: flex;
    position:relative;
    height: 150px;
    margin: 0;
    border: 3px solid #F2F2F2;
    border-radius: 15px;
    overflow: hidden;
}
.articles-activites img {
    margin: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.carte-grande>img {
    height: 300px;
    width: 100%;
}

.carte-moyenne>img {
    height: 125px;
    width: 100%;
}

.carte-petite>img {
    height: 100px;
    width: 100%;
    object-position: 35% 25%;
}
.articles-activites h3 {
    padding: 10px;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}


/* footer */

.info-site {
    height: 11.5%;
    display:flex;
    background-color: #F2F2F2;
    margin: 25px 0;
    padding: 12.5px 12.5px 0 12.5px;
    gap: 200px;
}

.titrefooter>h2 {
    font-size: 15px;
}

.titrefooter>ul {
    font-size: 13px;
    padding: 0;
}


/* media queries */

/*---VERSION TABLETTE---*/

@media screen and (min-width:768px) and (max-width:991px) {


}

/* VERSION MOBILE */

@media screen and (max-width:767px) {

body {width: 375px;}

header {
    display: block;
    justify-content: center;
    margin: 0;
    } 
    
    
.logo {
        justify-content: center;
        padding: 0;
    }

.logo img {
        width : auto;
     }

nav>ul {
        justify-content: space-between;
    }
    
nav a:hover {
        border-bottom: 4px solid #0065FC;
        border-top: 0;
        color:#0065FC;
    }

.conteneur-introduction{
        margin: 0;
    }
.conteneur-introduction {
        white-space: wrap;
    }

    #conteneur-hebergements-populaires{
        height: auto;
        margin: 0;
        flex-direction: column;
        justify-content: center;
    }
    #conteneur-hebergements-populaires:nth-child(1){
        order:2
    }
    #conteneur-hebergements-populaires:nth-child(2){
        order:1
    }

    .bloc-hebergements>.articles {
        flex-direction: column;
        justify-content: center;
    }

    #conteneur-activites{
        width: 100%;
        height: auto;
    }
    #conteneur-activites>.articles-activites {
        flex-direction: column;
        justify-content: center;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }
  
.Bouton-icone:hover{}
  
.Bouton-icone {
      background-color: #0065FC;
      display: block;
      justify-content: center;
      cursor: pointer;
      }
.bouton-texte {
    display: none;
  }

  .Bouton-icone .i {
      color: white;
      }
  }